NGROK_DOMAIN=
NGROK_AUTHTOKEN=
N8N_DATA=
WEBHOOK_URL=
N8N_HOST=
N8N_PROTOCOL=https
N8N_PORT=5678
N8N_PROXY_HOPS=1
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
TZ=Europe/Warsaw
GENERIC_TIMEZONE=Europe/Warsaw
